.clearfix {
	@include clearfix;
}

.threeInARow {
	@media screen and (min-width: $layout_mdMin) {
		@include threeInARow;
	}
}

.noScroll {
	overflow: hidden;
}

.hidden {
	display: none !important;
}

.hiddenSm {
	@media screen and (max-width: $layout_smMax) {
		display: none !important;
	}
}

.container {
	margin: 0 auto;
	max-width: $layout_contentMaxWidth;
	padding: 0 1rem;
}

.page {
	overflow: hidden;
	padding-bottom: 2rem;
	padding-top: 2rem;
	text-align: center;

	@media screen and (min-width: $layout_mdMin) {
		text-align: left;
	}
}
