@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

html {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

#app {
	height: 100%;
}

h1 {
	margin-top: 0;
}

a {
	$_color: $color_link;
	$_color-hover: $color_link-hover;

	color: $_color;
	font-weight: 700;
	letter-spacing: 1px;
	text-decoration: none;
	transition: color ease .3s;

	&:hover {
		color: $_color-hover;
	}
}
